.list {
  width: 480px;
  display: flex;
  gap: 16px;
  padding-left: 0;
  list-style: none;
  margin: 60px auto;
}
.listItem {
  width: calc((100% - 64px) / 5);
  border: 2px solid #000000;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
